@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Be Vietnam Pro", sans-serif;
    /* font-family: "poppins",sans-serif; */
}

:root {
    --bgOrange: #e84949;
}

.wrapper {
    /* height: 100vh; */
    overflow-y: auto;
    overflow-x: hidden;
}

.nav-bar {
    position: fixed;
    background: white;
    box-shadow: -3px -3px 7px #ffffff73, 2px 2px 5px rgba(94, 104, 121, 0.288);
    top: 0;
    right: 0;
    z-index: 1000;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 62px;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-text {
    font-size: 28px;
    margin-left: -8px;
}

.nav-items {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.nav-items div {
    font-size: 20px;
    cursor: pointer;
    padding: 0 10px;
}

.nav-items div a {
    font-weight: 500;
    text-decoration: none;
    color: black;
}
.nav-items div a:hover{
    font-weight: 600;
    color: #4e45d5;
}
.hero-section {
    /* position: relative; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80%;
    gap: 5rem;
    min-height: 100vh;
    margin: 0rem auto 4rem auto;
    padding: 0 1rem;
    padding-top: 5.8rem;
}

.hero-sec-left {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}
.home-btn{
    display: flex;
    gap: 30px;
}
.btn {
    all: unset;
    /* width: 80px; */
    background-color: var(--bgOrange);
    color: white;
    width: fit-content;
    padding: 0.8rem 1.3rem;
    font-size: 18px;
    cursor: pointer;
    font-weight: 500;
    border: 3px solid transparent;
    box-shadow: 5px 5px 7px 0px #0000003f;
    border-radius: 10px;
    transition: all 0.5s;
}

.btn:hover {
    background-color: #ba2626;
    /* font-weight: bold; */
    transform: scale(0.9);
}

.hero-sec-right img {
    width: 350px;
    height: 350px;
    border-radius: 15px;
    padding: 2rem;
    transition: all 1s;
    animation: scaleImg 4s linear infinite;
}

@keyframes scaleImg {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
        box-shadow: 3px 3px 10px black;
    }

    100% {
        transform: scale(1);
    }
}

.hero-sec-heading {
    font-size: 35px;
    color: #343d68;
    font-weight: 500;
}

.hero-sec-subHeading {
    font-size: 45px;
    line-height: 45px;
}

.role {
    color: #4e45d5;
    font-weight: 800;
}

.hero-sec-desc {
    margin-top: 1rem;
    width: 70%;
    font-weight: 500;
}

.project-section {
    /* background-color: rgba(231, 231, 231, 0.586); */
    padding-top: 40px;
    background: linear-gradient(90deg, rgba(238,238,242,1) 0%, rgba(220,221,211,1) 26%, rgba(217,221,227,1) 91%);
}

#project-header {
    text-align: center;
    font-size: 70px;
    color: var(--bgOrange);
    padding-top: 30px;
    font-family:"poppins",sans-serif;
}

.project-container {
    width: 1200px;
    margin: auto;
    padding: 3rem 0;
    display: flex;
    flex-direction: column;
    gap: 120px;
    
}

.project-card {
    width: 76%;
    height: 450px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    box-shadow: 0 0 40px #1f1f1f;
}

.project-card::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #1f1f1f9a;
    transform: scaleX(1);
    z-index: 0;
}

.project-card::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(45deg, #343d68, #343d68be, #343d687c);
    transform: scaleX(0);
    transform-origin: left;
    transition: all 0.7s;
    z-index: 1;
}

.project-card:hover::before {
    transform: scaleX(1);
}

#project1 {
    background-image: url(/images/weather.png);
    margin-left: 50px;
}

#project2 {
    background-image: url(/images/tic.png);
    margin-left: 140px;
}

#project3 {
    background-image: url(/images/studySync.png);
    margin-left: 50px;
}

.project-content {
    position: absolute;
}

.project-num {
    position: absolute;
    color: white;
    font-size: 100px;
    font-weight: 600;
    z-index: 10;
    display: none;
}

.project-card:hover {
    .project-num {
        display: flex;
        transform-origin: right;
    }
}

.project-num-right {
    right: 0px;
    top: -19px;
}

.project-num-left {
    left: -6px;
    top: -23px;
}

.project-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    color: white;
    padding: 2em;
    bottom: 20%;
    z-index: 5;
    gap: 1em;
    transition: all 0.4s;
}

.project-content-left {
    left: 10%
}

.project-content-right {
    right: 10%
}

.project-skills-container {
    width: 60%;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.project-skills {
    width: 50px;
    border-radius: 50%;
}

.project-heading {
    font-size: 40px;
    font-weight: bold;
    line-height: 3rem;
    /* font-family:"poppins",sans-serif; */
}

.project-subHeading {
    width: 70%;
    font-size: 16px;
    font-style: italic;
}

.btn-group {
    display: flex;
    gap: 0.9rem;
    align-items: center;
}

.icon {
    color: white;
    cursor: pointer;
    font-size: 35px;
    transition: all 0.4s;
}

.icon:hover {
    color: var(--bgOrange);
}

.project-card:hover {
    .project-content {
        transform: scale(1.06);
    }
}

@media (max-width:1300px) {

    .project-container {
        gap: 60px;
        padding: 5px;
        margin: 10px;
    }

    .project-card {
        width: 100%;
        height: 300px;
    }

    .project-card {

        background-size: cover;
        background-position: center;
    }

    .project-content {
        scale: 0.5;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }

    .project-content-left {
        left: 0;
    }

    .project-heading {
        font-size: 40px;
        width: 100%;
    }

    #project2 {
        margin-left: 0;
    }

    .project-skills-container {
        width: 100%;
    }

    .project-card:hover .project-num {
        display: none;
    }

    .project-card:hover .project-content {
        scale: 0.55;
    }
}

.skills-container {
    width: 80%;
    position: relative;
    display: flex;
    padding:2rem  4rem;
    margin: 4rem auto 6rem auto;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.skill-container-left {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.skill-container-right {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    gap: 2.5rem;  
    position: relative;
    justify-content: center;
}
#skills-heading{
    text-align: center;
    font-size: 80px;
    color: var(--bgOrange);
    padding-top: 74px;
    font-family:"poppins",sans-serif;
}
.skill-logo{
    width: 90px; 
    height: 90px;
    transition: all 0.5s;
    box-shadow: 4px 4px 10px rgb(43, 42, 42);
    border-radius: 10px;
}
.skill-logo:hover{
    transition: all 0.5s;
    transform: scale(1.2);
}
.skill-heading{
    color: var(--bgOrange);
    font-size: 50px;
    font-style: bold;
    line-height: 50px;
}
.caps{
    font-size: 90px;
}
.skill-subHeading{
    margin-top: 1rem;
    width: 85%;
    text-align: justify;
}
.skill-subHeading p{
    margin: 20px 0;
}
.contact-section{
    width: 100%;
    background: linear-gradient(90deg, rgba(238,238,242,1) 0%, rgba(220,221,211,1) 26%, rgba(217,221,227,1) 91%);
    min-height: 95vh;
}
.contact-container{
    width: 72%;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}
.contact-us{
    font-size: 3em;
    color: var(--bgOrange);
    /* color: black; */
    padding-top: 4rem;
    padding-bottom: 10px;
}
.contact-us-sub{
    font-size: 1.4rem;
    color: #343d68aa;
}
.form-container{
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}
form{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 70%;
    margin: 2rem 5rem;
    align-items: center;
    justify-content: center;
}
.formField-container{
    /* display: flex; */
    flex-direction: column;
    width: 100%;
    /* gap: 20px; */
}
.formField{
    width: 90%;
    height: 42px;
    padding: 24px 2rem;
    font-size: 17px;
    border-radius: 5px;
    font-weight: 500;
    border: none;
    margin: 10px;
    background: hsla(260, 100%, 44%, 0.1);
    outline: none;
}
#textarea{
    height: auto;
    padding-top: 1rem;
    resize: none;
}
#submit-btn{
    border: none;
    font-size: 1.1rem;
    /* margin: 1rem 0; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 9px;
}
#submit-btn:hover{
    scale: 0.99 ;
}
.submit-icon {
    padding: 0 1rem;
    font-size: 1.5rem;
}
.links-section{
    border-radius: 5px;
    width: fit-content;
}
.icon-last{
    color: black;
    font-size: 26px;
    padding: 9px;
    transition: all 0.4s;
}
.icon-last:hover{
    scale: 1.1;
    color: var(--bgOrange);
}